$neutral-dark-dark-3: #3d4248;
$neutral-dark-dark-5: #9aa0a8;
$neutral-light-light-2: #f5f5f5;
$neutral-light-light-3: #d6dadd;

$primary-color: #34495e;

$gold-gradient: linear-gradient(225deg, #e0ceba 0%, #c09c75 100%);
$canadia-gradient: linear-gradient(225deg, #ed213a 0%, #93291e 100%);
